<!DOCTYPE html>
<html = lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
    <title>Blake and Max Health Weekly</title>
  </head>
  <body>

    <div class="navigation-wrapper">
      <div class="left-column">
      </div>

        <div class="center-column">
          <div class="links-wrapper">

            <div class="nav-link">
              <a href="about.html">About Us</a>
            </div>

            <div class="nav-link">
              <a href="newsletter.html">Newsletter</a>
            </div>

            <div class="nav-link">
              <a href="contact.html">Contact</a>
            </div>
        </div>
      </div>
    <p> This is the content here</p>
  </body>
</html>