<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Blake and Max Health Weekly</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      {% include 'includes/_navbar.html' %}
      <div class="container">
      </div>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
      </script>
      {% block body %}
   <div class="jumbotron text-center">
      <h1>Welcome to Blake and Max Health Weekly</h1>
   </div>
   {% endblock %}
   </body>
</html>